*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}


.container {
    text-align: center;
}
img {
    margin-bottom: 20px;
}
h1 {
    margin-bottom: 10px;
}