*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #121212;
}


.mt-5 {
    color: white;
}

.form-label{
    color: black;
}


.form-group{
    margin-top: 5px;
}

